
:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}


.main {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}


.converter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.converter input,
.converter select,
.converter button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.converter input:focus,
.converter select:focus,
.converter button:focus {
    outline: none;
    border-color: #007bff;
}

.converter button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.converter button:hover {
    background-color: #0056b3;
}


.result {
    margin-top: 20px;
    font-size: 18px;
    color: #007bff;
    font-weight: bold;
}
